# golang-services.gitignore

# CONCOURSE SECRETS
.credentials.yml

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# RUN (BINARIES)
**/bin/hello-go

# TEST
**/test/test_coverage.txt

# BUILD (BINARIES CREATED DURING DOCKER BUILD)
**/build/hello-go
