# hello-go-deploy-azure task-readme-github-pages.yml

platform: linux

image_resource:
  type: docker-image
  source:
    repository: golang
    tag: 1.7.1

inputs:
- name: hello-go-deploy-azure

outputs:
- name: hello-go-deploy-azure-updated

run:
  path: ./hello-go-deploy-azure/ci/scripts/readme-github-pages.sh
